<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="de"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="de"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="de"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="de">
  <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Nils Friedhoff-Bewerbungssite">
      <meta name="author" content="Nils Friedhoff">
      <title>Nils Friedhoff | Bewerbungsseite</title>
      <link href="styles/bootstrap.min.css" rel="stylesheet">
      <link href="styles/font-awesome.min.css" rel="stylesheet">
      <link href="styles/prettyPhoto.css" rel="stylesheet">
      <link href="styles/main.css" rel="stylesheet">

      <link rel="shortcut icon" href="images/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

  </head>
  <body>
  {{body}}
    <!-- build:js({app,.tmp}) scripts/script.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    {{>scripts}}
    <!-- endbuild -->
    <!-- build:css({app,.tmp}) styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    {{>styles}}
    <!-- endbuild -->
  </body>
</html>
