---
title: Home
description: Hompage
keywords: Homepage
menu: Home
menu_index: active
---
<header id="header" role="banner">
    <div class="container">
        <div id="navbar" class="navbar navbar-default">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                    <li><a href="#vorstellung">Vorstellung</a></li>
                    <li><a href="#lebenslauf">Lebenslauf</a></li>
                    <li><a href="#studium">Studium</a></li>
                    <li><a href="#jobs">Jobs</a></li>
                    <li><a href="#contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
</header><!--/#header-->

<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Nils Friedhoff</h1>
                    <p class="lead">Angehender Informatiker mit verschiedenen Fähigkeiten <br> Java, HTML, CSS, Javascript</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Bald bei Ihnen</h1>
                    <p class="lead" >Kontaktieren Sie mich jetzt!</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->

<section id="vorstellung">
    <div class="container">
        <div class="box">
            <div class="center gap">
                <h2>Vorstellung</h2>
                <p class="lead"> Hier m&oumlchte ich mich zun&aumlchst vorstellen:<br>
                    Ich, Nils Friedhoff, bin Student der Informatik im Bachelor mit Schwerpunkt Medienwissenschaften. Ich bin im vierten Semester und habe noch keine Praxiserfahrung und m&oumlchte diese gerne
                    schon einmal sammeln, bevor ich nach Ende des Studiums in die Berufswelt einsteige. Ich besitze alle n&oumltigen Grundlagen, bin sehr sicher im Umgang mit Java und habe auch schon erste Erfahrungen mit HTML5, CSS und javascript gemacht, wie diese Seite zeigt.
                </p>
                <p>
                    Auch wenn ich leider noch keine beruflichen Erfahrungen im Bereich Informatik sammeln konnte, habe ich bereits Jobs gehabt, wodurch ich generell mit professionellem Arbeiten vertraut bin. (<a href="#jobs">siehe bisherige Jobs</a>)
                </p>
                <p>
                    Au&szligerdem habe ich in vier Semestern des Informatik-Studiums neben allen Grundlagen auch schon ein paar weiterf&uumlhrende Kurse absolviert.<br>Eine Liste der <a href="#studium">Kurse</a> ist unten nachzulesen.
                </p>
            </div><!--/.center-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#portfolio-->



<section id="lebenslauf">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Lebenslauf</h2>
                <p class="lead">Hier sehen Sie meinen Lebenslauf: <br> Geburtsdatum: 21.03.1994</p>
            </div><!--/.center-->
            <div class="big-gap"></div>
            <div id="pricing-table" class="row">
                <div class="col-sm-4">
                    <ul class="plan">
                        <li class="plan-name">Schule</li>
                        <li>2000-2003:</li>
                        <li>Friedrich-Flender-Grundschule</li>
                        <li>2003-2012:</li>
                        <li>Fürst-Johann-Moritz-Gymnasium</li>
                        <li>2012:</li>
                        <li class="plan-name">Abitur</li>
                    </ul>
                </div><!--/.col-sm-4-->
                <div class="col-sm-4">
                    <ul class="plan">
                        <li class="plan-name">Universität</li>
                        <li class="plan-name">Mathematik:</li>
                        <li>WS 2012/13</li>
                        <li>SS 2013</li>
                        <li>WS 2013/14</li>
                        <li class="plan-name">Informatik:</li>
                        <li>SS 2014</li>
                        <li>WS 2014/15</li>
                        <li>SS 2015</li>
                        <li>WS 2015/16</li>
                    </ul>
                </div><!--/.col-sm-4-->
                <div class="col-sm-4">
                    <ul class="plan">
                        <li class="plan-name">Jobs</li>
                        <li class="plan-name">2009-2012:</li>
                        <li>SiegerlandKurier</li>
                        <li class="plan-name">2012-2015:</li>
                        <li>NORMA</li>
                        <li class="plan-name">2015-heute:</li>
                        <li>DPD-Geopost</li>
                    </ul>
                </div><!--/.col-sm-4-->
            </div>
        </div>
    </div>
</section><!--/#pricing-->

<section id="studium">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <h4>Mathematik</h4>
                        <p>Lineare Algebra I <br>Algorithmen und Datenstrukturen <br>mathematisches Programmierpraktikum</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <h4>SS 2014</h4>
                        <p>angerechnet:<br>Lineare Algebra für Informatiker<br>Algorithmen und Datenstrukturen<br>bestanden:<br>Grundlagen der theoretischen Informatik</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <h4>WS 2014/15</h4>
                        <p>Diskrete Mathematik für Informatiker<br>Digitaltechnik und Rechnerorganisation<br>Betriebssysteme I<br>Videotechnik<br><br></p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <h4>SS 2015</h4>
                        <p>Computergraphik I<br>Rechnernetze I<br>Programmierpraktikum<br><br><br></p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <h4>WS 2015/16</h4>
                        <p>Datenbanksysteme I<br>Softwaretechnik I<br>PROTEC Video<br>Webentwicklung</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <h4>SS 2016</h4>
                        <p>Geplant:<br>Audiotechnik<br>Medienrecht<br>Medienbetriebslehre<br>Medieninformatik in der Bildung<br>Wissensbasierte Systeme I<br>Compilerbau I</p>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="jobs">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Meine Arbeitgeber</h2>
            </div>
            <div class="gap"></div>
            <div id="team-scroller" class="carousel scale">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="member">
                                    <p><a href="http://www.siegerlandkurier.de" target="_blank"><img class="img-responsive img-thumbnail img-circle" src="images/SiegerlandKurier_Logo.png" alt="" ></a></p>
                                    <h3>Siegerland Kurier<small class="designation">Siegen</small></h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="member">
                                    <p><a href="http://www.norma-online.de" target="_blank"><img class="img-responsive img-thumbnail img-circle" src="images/Norma.jpg" alt="" ></a></p>
                                    <h3>NORMA<small class="designation">Netphen</small></h3>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="member">
                                    <p><a href="http://www.dpd.de" target="_blank"><img  class="img-responsive img-thumbnail img-circle" src="images/DPD_logo.png" alt="" ></a></p>
                                    <h3>DPD Geopost<small class="designation">Wilnsdorf</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.carousel-->
            </div>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#about-us-->

<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Kontakt</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <address>
                                <strong>Nils Friedhoff</strong><br>
                                nils.friedhoff@student.uni-siegen.de
                            </address>
                        </div>
                        <div class="col-md-6">
                            <address>
                                <strong>Credits</strong><br>
                                Xeon best one page site template
                            </address>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#contact-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <img class="pull-right" src="images/shapebootstrap.png" alt="ShapeBootstrap" title="ShapeBootstrap">
            </div>
        </div>
    </div>
</footer><!--/#footer-->
