@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/Nips\/Documents\/xeon-best-onepage-site-template\/xeon\/app\/styles\/sass\/index\.sass;
  }

  line {
    font-family: \000036;
  }
}

#site-index h1 {
  color: #667;
}